<div id="content">
  <div class="container-fluid container-spaced">
    <div class="layout with-left-sidebar js-layout">
      <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
          <div class="sidebar js-sidebar-fixed">
            <!-- Vertical Menu -->
            <nav class="menu-vertical-wrapper">
              <ul class="menu-vertical js-menu-vertical" data-prepend-to=".js-layout" data-select="Menu">
                <% for (var a=0; a < docs_menu.length; a++) { %>
                <li class="<% if(docs_menu[a].slug === activeSlug) { %>selected<% } %>">
                  <a href="<%= docs_menu[a].url %>"><%= docs_menu[a].title %></a>
                  <% if(docs_menu[a].hasSubs) { %>
                  <ul>
                    <% for(var i=0; i < docs_menu[a].subs.length; i++) { %>
                    <li class="<% if(docs_menu[a].subs[i].slug == activeSlug) { %> selected <% } %>">
                      <a href="<%= docs_menu[a].subs[i].url %>"><%= docs_menu[a].subs[i].title %></a>
                      <% if(docs_menu[a].subs[i].hasSubs) { %>
                      <ul>
                        <% for(var j = 0; j < docs_menu[a].subs[i].subs.length; j++) { %>
                        <li class="<% if(docs_menu[a].subs[i].subs[j].slug === activeSlug) { %>selected<% } %>">
                          <a href="<%= docs_menu[a].subs[i].subs[j].url %>">
                            <%= docs_menu[a].subs[i].subs[j].title %>
                          </a>
                          <% if(docs_menu[a].subs[i].subs[j].hasSubs) { %>
                          <ul>
                            <% for(var x = 0; x < docs_menu[a].subs[i].subs[j].subs.length; x++) { %>
                            <li class="<% if(docs_menu[a].subs[i].subs[j].subs[x].slug === activeSlug) { %>selected<% } %>">
                              <a href="<%= docs_menu[a].subs[i].subs[j].subs[x].url %>">
                                <%= docs_menu[a].subs[i].subs[j].subs[x].title %>
                              </a>
                            </li>
                            <% } %>
                          </ul>
                          <% } %>
                        </li>
                        <% } %>
                      </ul>
                      <% } %>
                    </li>
                    <% } %>
                  </ul>
                  <% } %>
                </li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-md-9">
          <div class="main-content">
            <!-- Category Info -->
            <div class="category-info helper pt0" id="list-view">
              <h3 class="category-title"> Device Module
                <!-- Fragment Identifier -->
                <a class="fragment-identifier js-fragment-identifier fragment-identifier-scroll" href="#list-view">
                  <i class="fa fa-link"></i>
                </a>
                <!-- End of Fragment Identifier -->
              </h3>
              <h4 class="category-description">We are updating this page as soon as possible. Please check back soon</h4>
            </div>
            <!-- End of Caregory Info -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
